/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007398;
  --ifm-color-primary-dark: #006789;
  --ifm-color-primary-darker: #006281;
  --ifm-color-primary-darkest: #00506a;
  --ifm-color-primary-light: #007ea7;
  --ifm-color-primary-lighter: #0084af;
  --ifm-color-primary-lightest: #0095c6;
  --ifm-hero-background-color: #FFFFFF!important;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

 

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #1B1B1D
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

#logo{
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;

  position: relative;
  left:50%;
  transform: translate(-50%);
}


/* Tagline (sous le logo du header sur la page d'accueil) */
.hero__subtitle {
  color: #000; /* couleur du texte en mode clair */
}

/* En mode sombre */
[data-theme='dark'] .hero__subtitle {
  color: #fff;
}



/* index.module.css */
.heroBanner {
  background-color: #ffcc00; /* light mode */
  color: #000000; /* texte clair */
}

body.dark .heroBanner {
  background-color: #333333; /* dark mode */
  color: #ffffff; /* texte sombre */
}
